.logo {
    height: 15vh;
    width: 15vh;
}

.options {
    height: 10vh;
    width: 10vh;
    margin: 3vw;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 3px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.scoreBoard {
    height: 30vh;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score,
.dialog {
    height: 100%;
    width:  50%;
    border: 2px solid #000000;
    display: flex;
}

.score {
    height: 30vh;
    border: 2px solid #000000;
    flex-direction: column;
    align-items: center;
}

.score > .npc,
.score > .player {
    height: 50%;
    width: 100%;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#npc,
#player {
    font-size: 24px;
}

.dialog {
    justify-content: center;
    align-items: center;
}

.dialogContent {
    font-size: 27px;
    font-weight: 500;
    max-width: 80%;
}
